@import "scss/variables.scss";

.ExpandablePanel {
  position: relative;
}

.fakeContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  z-index: -1;
}

.ExpandablePanel__content {
  overflow: hidden;
  position: relative;
  &:before {
    position: absolute;
    height: 4em;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    background: linear-gradient(
      0deg,
      rgba(249, 249, 249, 1) 0%,
      rgba(254, 254, 254, 0) 100%
    );
    opacity: 0;
    pointer-events: none;
  }
  &[data-expanded="false"] {
    &:before {
      opacity: 1;
    }
  }
}

.ExpandablePanel__expander {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1em;
  &:before,
  &:after {
    content: "";
    flex-grow: 1;
    border-bottom: solid 1px #ddd;
  }
  button {
    background: none;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    color: $hover;
    position: relative;
    z-index: 1;
  }
}
