.PlaceList {
  overflow: auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  display: grid;
  gap: 1.5em;
  padding: 0.5em;
  @media (min-width: 120em) {
    width: 600px;
  }
  &.collapsed {
    grid-template-columns: 1fr;
    gap: 0.2em;
    width: auto;
  }
}

.PlaceCard__title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
}

.PlaceCard__icon {
  font-size: 1.5em;
  margin-bottom: -0.2em;
  margin-right: 0.5em;
  border-right: 1px solid #eee;
  padding-right: 0.5em;
}

.PlaceCard_address {
  font-size: 0.8em;
  line-height: 1.1;
  color: #666;
}

.Card__colapsed {
  .PlaceCard__title {
    width: 400px;
  }
}
