.Button {
  border: solid 1px #ddd;
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  padding: 0.5em 0.7em;
  background: #fff;
  gap: 0.5em;
  justify-content: center;
  min-width: 2.5em;
  cursor: pointer;
  svg {
    fill: #666;
  }
  &.flat {
    border: 0;
  }
  &:disabled {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: auto;
  }
  &.Button--off {
    opacity: 0.5;
    filter: grayscale(1);
  }
}
