.Marker {
  font-size: 10em;
  position: relative;
  &:hover {
    z-index: 999;
    .Marker__icon {
      transform: translate(-50%, -100%) scale(1.2);
    }
    .Icon {
      transform: translate(-50%, -155%) scale(1.5);
    }
  }
}

.Marker__shadow {
  font-size: 2em;
  position: absolute;
  left: 0;
  z-index: -1;
  transform: translate(-50%, -100%) skew(-40deg) scaleY(0.4);
  transform-origin: 50% 100%;
  filter: blur(3px);
  opacity: 0.2;
}

.Marker__icon {
  font-size: 2.5em;
  position: absolute;
  transition: all 0.1s ease-in-out;
  left: 0;
  z-index: 0;
  transform: translate(-50%, -100%);
  cursor: pointer;
  transform-origin: center bottom;
}

.Icon {
  fill: #ffffff;
  transform: translate(-50%, -160%);
  transition: all 0.1s ease-in-out;
  transform-origin: center bottom;
  pointer-events: none;
}
