@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

html,
body {
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
}

.mainView {
  position: relative;
}

.desktopView {
  display: grid;
  grid-template-columns: 1fr auto;
  > div {
    height: 100vh;
  }
}

.mobileView {
  background: #f3f3f3;
}
